$font-size: 14px;
.content-title {
  text-align: left;
  border-bottom: 1.5px solid #F1F2F5;
  padding-bottom: 10px;
  margin-bottom: 10px;
  // overflow: inherit;
  background-color: #FFFFFF;
  position: relative;
  min-height: 28px;
}
.title-bar {
  display: inline-block;
  margin: 0;
  line-height: 16px;
  border-left: 4px solid #1891FF;
  padding-left: 6px;
  font-family: Microsoft YaHei;
  font-size: $font-size;
  color: #303133;
  font-weight: bold;
}

.common-title .content-title,
.common-search-form .content-title,
.common-form-title .content-title {
  border-bottom: none;
  margin-bottom: 0;
}
.common-title .divide-line-1,
.common-search-form .divide-line-1,
.common-form-title .divide-line-1 {
  margin-bottom: 10px;
  height: 1.5px
}

.el-button + .el-button {
  margin-left: 5px;
}
.right-button {
  float: right;
}
.content-title .right-button {
  position: absolute;
  right: 0;
  bottom: 5px;
}
.right-button .icon-button {
  padding: 9px 15px 0 15px;
}
.right-button i {
  font-size: $font-size;
  color: #1891FF;
  cursor: pointer;
}
.el-form {
  text-align: left;
}
.common-col-form .el-form-item {
  width: 100%;
}
.common-col-form .el-form-item__content {
  width: calc(100% - 100px);
}
.el-form-item__content,
.el-form-item__label,
.el-tabs__item,
.el-tree-node__content>label.el-checkbox,
.el-tree-node__content {
  font-size: $font-size;
}
.search-button {
  text-align: right;
  margin-bottom: 10px;
}
.common-component-div {
  overflow: hidden;
  background-color: #FFFFFF;
  padding: 15px 15px 0 15px;
}
.common-component-div .el-form-item {
  margin-bottom: 10px;
  margin-right: 0;
}
.el-input,
.el-input .el-input__inner,
.el-select .el-input__inner,
.el-textarea__inner,
.el-date-editor.el-input__inner,
.el-input__inner {
  border-radius: 0 !important;
}
.divide-line-10 {
  overflow: hidden;
  background-color: #EDf1f5;
  height: 10px;
}
.divide-line-5 {
  overflow: hidden;
  background-color: #EDf1f5;
  height: 5px;
}
.divide-line-1 {
  overflow: hidden;
  background-color: #EDf1f5;
  height: 1px;
}
.divide-col-10 {
  width: 10px;
  position: absolute;
  top: 0;
  bottom: 0;
  background-color: #EDf1f5;
}
.divide-col-5 {
  width: 5px;
  position: absolute;
  top: 0;
  bottom: 0;
  background-color: #EDf1f5;
}
.el-input__suffix-inner {
  display: inline-block;
}
.el-pagination__sizes .el-select .el-input .el-select__caret,
.el-pagination__sizes .el-select .el-input .el-select__caret.is-reverse {
  position: relative;
  top: -2px;
}
.icon-button {
  color: #1891FF;
}
.icon-button:hover {
  background-color: transparent;
}
.icon-button.is-disabled i {
  color: #C0C4CC;
  cursor: not-allowed;
}
.danger-text-button {
  color: #f56c6c;
}

/** 美化滚动条 */
/*滚动条的宽度*/
::-webkit-scrollbar,
::-webkit-scrollbar,
::-webkit-scrollbar {
  width:8px;
  height:8px;
}

/*外层轨道。可以用display:none让其不显示，也可以添加背景图片，颜色改变显示效果*/
::-webkit-scrollbar-track,
::-webkit-scrollbar-track,
::-webkit-scrollbar-track {
  width: 6px;
  background-color: #C6C6C6;
  -webkit-border-radius: 2em;
  -moz-border-radius: 2em;
  border-radius: 2em;
}

/*滚动条的设置*/
::-webkit-scrollbar-thumb,
::-webkit-scrollbar-thumb,
::-webkit-scrollbar-thumb {
  background-color: #828282;
  background-clip: padding-box;
  min-height: 28px;
  -webkit-border-radius: 2em;
  -moz-border-radius: 2em;
  border-radius: 2em;
}
/*滚动条移上去的背景*/
::-webkit-scrollbar-thumb:hover,
::-webkit-scrollbar-thumb:hover,
::-webkit-scrollbar-thumb:hover {
  background-color: #e4e9e9;
}
/** 美化滚动条结束 */
